@font-face {
  font-family: 'Moririse2';
  font-display: swap;
  src:  url('abi2.eot?f2bix4');
  src:  url('abi2.eot?f2bix4#iefix') format('embedded-opentype'),
    url('abi2.ttf?f2bix4') format('truetype'),
    url('abi2.woff?f2bix4') format('woff'),
    url('abi2.svg?f2bix4#abi2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="#-"], [class*=" #-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Moririse2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#-mbri-add-submenu:before {
  content: "\e900";
}
.#-mbri-alert:before {
  content: "\e901";
}
.#-mbri-align-center:before {
  content: "\e902";
}
.#-mbri-align-justify:before {
  content: "\e903";
}
.#-mbri-align-left:before {
  content: "\e904";
}
.#-mbri-align-right:before {
  content: "\e905";
}
.#-mbri-android:before {
  content: "\e906";
}
.#-mbri-apple:before {
  content: "\e907";
}
.#-mbri-arrow-down:before {
  content: "\e908";
}
.#-mbri-arrow-next:before {
  content: "\e909";
}
.#-mbri-arrow-prev:before {
  content: "\e90a";
}
.#-mbri-arrow-up:before {
  content: "\e90b";
}
.#-mbri-bold:before {
  content: "\e90c";
}
.#-mbri-bookmark:before {
  content: "\e90d";
}
.#-mbri-bootstrap:before {
  content: "\e90e";
}
.#-mbri-briefcase:before {
  content: "\e90f";
}
.#-mbri-browse:before {
  content: "\e910";
}
.#-mbri-bulleted-list:before {
  content: "\e911";
}
.#-mbri-calendar:before {
  content: "\e912";
}
.#-mbri-camera:before {
  content: "\e913";
}
.#-mbri-cart-add:before {
  content: "\e914";
}
.#-mbri-cart-full:before {
  content: "\e915";
}
.#-mbri-cash:before {
  content: "\e916";
}
.#-mbri-change-style:before {
  content: "\e917";
}
.#-mbri-chat:before {
  content: "\e918";
}
.#-mbri-clock:before {
  content: "\e919";
}
.#-mbri-close:before {
  content: "\e91a";
}
.#-mbri-cloud:before {
  content: "\e91b";
}
.#-mbri-code:before {
  content: "\e91c";
}
.#-mbri-contact-form:before {
  content: "\e91d";
}
.#-mbri-credit-card:before {
  content: "\e91e";
}
.#-mbri-cursor-click:before {
  content: "\e91f";
}
.#-mbri-cust-feedback:before {
  content: "\e920";
}
.#-mbri-database:before {
  content: "\e921";
}
.#-mbri-delivery:before {
  content: "\e922";
}
.#-mbri-desktop:before {
  content: "\e923";
}
.#-mbri-devices:before {
  content: "\e924";
}
.#-mbri-down:before {
  content: "\e925";
}
.#-mbri-download-2:before {
  content: "\e926";
}
.#-mbri-download:before {
  content: "\e927";
}
.#-mbri-drag-n-drop-2:before {
  content: "\e928";
}
.#-mbri-drag-n-drop:before {
  content: "\e929";
}
.#-mbri-edit-2:before {
  content: "\e92a";
}
.#-mbri-edit:before {
  content: "\e92b";
}
.#-mbri-error:before {
  content: "\e92c";
}
.#-mbri-extension:before {
  content: "\e92d";
}
.#-mbri-features:before {
  content: "\e92e";
}
.#-mbri-file:before {
  content: "\e92f";
}
.#-mbri-flag:before {
  content: "\e930";
}
.#-mbri-folder:before {
  content: "\e931";
}
.#-mbri-gift:before {
  content: "\e932";
}
.#-mbri-github:before {
  content: "\e933";
}
.#-mbri-globe-2:before {
  content: "\e934";
}
.#-mbri-globe:before {
  content: "\e935";
}
.#-mbri-growing-chart:before {
  content: "\e936";
}
.#-mbri-hearth:before {
  content: "\e937";
}
.#-mbri-help:before {
  content: "\e938";
}
.#-mbri-home:before {
  content: "\e939";
}
.#-mbri-hot-cup:before {
  content: "\e93a";
}
.#-mbri-idea:before {
  content: "\e93b";
}
.#-mbri-image-gallery:before {
  content: "\e93c";
}
.#-mbri-image-slider:before {
  content: "\e93d";
}
.#-mbri-info:before {
  content: "\e93e";
}
.#-mbri-italic:before {
  content: "\e93f";
}
.#-mbri-key:before {
  content: "\e940";
}
.#-mbri-laptop:before {
  content: "\e941";
}
.#-mbri-layers:before {
  content: "\e942";
}
.#-mbri-left-right:before {
  content: "\e943";
}
.#-mbri-left:before {
  content: "\e944";
}
.#-mbri-letter:before {
  content: "\e945";
}
.#-mbri-like:before {
  content: "\e946";
}
.#-mbri-link:before {
  content: "\e947";
}
.#-mbri-lock:before {
  content: "\e948";
}
.#-mbri-login:before {
  content: "\e949";
}
.#-mbri-logout:before {
  content: "\e94a";
}
.#-mbri-magic-stick:before {
  content: "\e94b";
}
.#-mbri-map-pin:before {
  content: "\e94c";
}
.#-mbri-menu:before {
  content: "\e94d";
}
.#-mbri-#le-2:before {
  content: "\e94e";
}
.#-mbri-#le-horizontal:before {
  content: "\e94f";
}
.#-mbri-#le:before {
  content: "\e950";
}
.#-mbri-abi:before {
  content: "\e951";
}
.#-mbri-more-horizontal:before {
  content: "\e952";
}
.#-mbri-more-vertical:before {
  content: "\e953";
}
.#-mbri-music:before {
  content: "\e954";
}
.#-mbri-new-file:before {
  content: "\e955";
}
.#-mbri-numbered-list:before {
  content: "\e956";
}
.#-mbri-opened-folder:before {
  content: "\e957";
}
.#-mbri-pages:before {
  content: "\e958";
}
.#-mbri-paper-plane:before {
  content: "\e959";
}
.#-mbri-paperclip:before {
  content: "\e95a";
}
.#-mbri-phone:before {
  content: "\e95b";
}
.#-mbri-photo:before {
  content: "\e95c";
}
.#-mbri-photos:before {
  content: "\e95d";
}
.#-mbri-pin:before {
  content: "\e95e";
}
.#-mbri-play:before {
  content: "\e95f";
}
.#-mbri-plus:before {
  content: "\e960";
}
.#-mbri-preview:before {
  content: "\e961";
}
.#-mbri-print:before {
  content: "\e962";
}
.#-mbri-protect:before {
  content: "\e963";
}
.#-mbri-question:before {
  content: "\e964";
}
.#-mbri-quote-left:before {
  content: "\e965";
}
.#-mbri-quote-right:before {
  content: "\e966";
}
.#-mbri-redo:before {
  content: "\e967";
}
.#-mbri-refresh:before {
  content: "\e968";
}
.#-mbri-responsive-2:before {
  content: "\e969";
}
.#-mbri-responsive:before {
  content: "\e96a";
}
.#-mbri-right:before {
  content: "\e96b";
}
.#-mbri-rocket:before {
  content: "\e96c";
}
.#-mbri-sad-face:before {
  content: "\e96d";
}
.#-mbri-sale:before {
  content: "\e96e";
}
.#-mbri-save:before {
  content: "\e96f";
}
.#-mbri-search:before {
  content: "\e970";
}
.#-mbri-setting-2:before {
  content: "\e971";
}
.#-mbri-setting-3:before {
  content: "\e972";
}
.#-mbri-setting:before {
  content: "\e973";
}
.#-mbri-share:before {
  content: "\e974";
}
.#-mbri-shopping-bag:before {
  content: "\e975";
}
.#-mbri-shopping-basket:before {
  content: "\e976";
}
.#-mbri-shopping-cart:before {
  content: "\e977";
}
.#-mbri-sites:before {
  content: "\e978";
}
.#-mbri-smile-face:before {
  content: "\e979";
}
.#-mbri-speed:before {
  content: "\e97a";
}
.#-mbri-star:before {
  content: "\e97b";
}
.#-mbri-success:before {
  content: "\e97c";
}
.#-mbri-sun:before {
  content: "\e97d";
}
.#-mbri-sun2:before {
  content: "\e97e";
}
.#-mbri-tablet-vertical:before {
  content: "\e97f";
}
.#-mbri-tablet:before {
  content: "\e980";
}
.#-mbri-target:before {
  content: "\e981";
}
.#-mbri-timer:before {
  content: "\e982";
}
.#-mbri-to-ftp:before {
  content: "\e983";
}
.#-mbri-to-local-drive:before {
  content: "\e984";
}
.#-mbri-touch-swipe:before {
  content: "\e985";
}
.#-mbri-touch:before {
  content: "\e986";
}
.#-mbri-trash:before {
  content: "\e987";
}
.#-mbri-underline:before {
  content: "\e988";
}
.#-mbri-undo:before {
  content: "\e989";
}
.#-mbri-unlink:before {
  content: "\e98a";
}
.#-mbri-unlock:before {
  content: "\e98b";
}
.#-mbri-up-down:before {
  content: "\e98c";
}
.#-mbri-up:before {
  content: "\e98d";
}
.#-mbri-update:before {
  content: "\e98e";
}
.#-mbri-upload-2:before {
  content: "\e98f";
}
.#-mbri-upload:before {
  content: "\e990";
}
.#-mbri-user-2:before {
  content: "\e991";
}
.#-mbri-user:before {
  content: "\e992";
}
.#-mbri-users:before {
  content: "\e993";
}
.#-mbri-video-play:before {
  content: "\e994";
}
.#-mbri-video:before {
  content: "\e995";
}
.#-mbri-watch:before {
  content: "\e996";
}
.#-mbri-website-theme-2:before {
  content: "\e997";
}
.#-mbri-website-theme:before {
  content: "\e998";
}
.#-mbri-wifi:before {
  content: "\e999";
}
.#-mbri-windows:before {
  content: "\e99a";
}
.#-mbri-zoom-in:before {
  content: "\e99b";
}
.#-mbri-zoom-out:before {
  content: "\e99c";
}
